@page "/"
@inject IStringLocalizer<Resource> localizer

<PageTitle>Home</PageTitle>

@attribute [Authorize(Roles = "Player,Agent,Master,Senior,Admin")]

<AuthorizeView>
<h1>@localizer["WelcomeMessage"]</h1>
<p>@DateTime.Now.ToLongDateString()</p>


</AuthorizeView>
