@using Microsoft.AspNetCore.Identity
@using DisneyPlayhouse.Data
@inject IStringLocalizer<Resource> localizer

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">@localizer["Profile"]</NavLink>
    </li>
    <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ChangePassword">@localizer["ChangePassword"]</NavLink>
    </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ChangeCurrency">@localizer["ChangeCurrency"]</NavLink>
        </li>
    <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/PersonalData">@localizer["PersonalData"]</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
