@inherits LayoutComponentBase
@layout AccountLayout
@inject IStringLocalizer<Resource> localizer


<h1>@localizer["ManageAccountHeader"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
