@inject IStringLocalizer<Resource> localizer
    
    <button class="btn btn-dark btn-md m-3">
    <strong>@currentUser</strong>
        <AuthorizeView roles="Member">
            <span class="badge bg-secondary ms-2">@localizer["Member"]</span>
        </AuthorizeView>
        <AuthorizeView roles="Admin">
            <span class="badge bg-success ms-2">@localizer["Admin"]</span>
        </AuthorizeView>
    </button>


@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }
    string currentUser;

    protected override void OnInitialized()
    {
        currentUser = AuthStateTask.Result.User.Identity.Name;
    }

}

