<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button text-dark bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Days and Legend for 4D Betting
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <span class="badge bg-success fs-6">Days : </span>
                        <span class="badge bg-light text-dark fs-6">1 - Wed, Sat and Sun</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">2 - Sat and Sun</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">3 - Wed</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">6 - Sat</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">7 - Sun</span>&nbsp;
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <span class="badge bg-success fs-6">Legend : </span>
                        <span class="badge bg-light text-dark fs-6">Blank - Straight</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">F - First 3 Roll</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">B - Last 3 Roll</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">R - Roll</span>&nbsp;
                        <span class="badge bg-light text-dark fs-6">I - I-Bet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />