@page "/ManageMember"
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavigationManager

<PageTitle>@localizer["ManageMember"]</PageTitle>

@attribute [Authorize(Roles = "Player,Master,Agent,Senior")]

<AuthorizeView>
    <div class="row">
        <div class="col-md-2">
            <MemberNamesDisplayArea></MemberNamesDisplayArea>
        </div>
        <div class="col-md-10">
            <ManageMemberSelectOptionsArea OnSubmitAddNewMember="HandleAddNewMember" OnSubmitModifyMember="HandleModifyMember" OnSubmitViewMembers="HandleViewAllMember"></ManageMemberSelectOptionsArea>
            @if (options == 1)
            {
                <AddNewMember RefreshComponent="HandleRefreshComponent" NewMemberForUser="@newUserFor"></AddNewMember>
            }
            @if (options == 2)
            {
                <ViewAllMembers AddMemberHandlerForUser="SwitchToAddMemberView"></ViewAllMembers>
            }
            @if (options == 3)
            {
                <ModifyMember></ModifyMember>
            }
        </div>
    </div>
</AuthorizeView>


@code{
    private int options = 0;
    private string newUserFor = "";

    private async Task HandleAddNewMember()
    {
        options = 1;
    }

    private async Task HandleViewAllMember()
    {
        options = 2;
    }

    private async Task HandleModifyMember()
    {
        options = 3;
    }

    private async Task HandleRefreshComponent()
    {
        NavigationManager.NavigateTo("/ManageMember", true);
    }
    
    private async Task SwitchToAddMemberView(string memberId)
    {
        newUserFor = memberId;
        options = 1;
    }
}